.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*font-size: calc(10px + 2vmin);*/
    color: white;

    #stories {
        width: 50vw;
    }

    .story {
        &:nth-child(odd) {
            background-color: #313851;
        }

        ul {
            padding: 0.5rem;
            text-align: left
        }

        li {
            list-style: none;
            text-align: left;
        }

    }

    .comments {
        font-size: 1rem;
        text-align: left;

        pre {
            white-space: break-spaces
        }

        button {
            width: 10rem;
            margin: auto;
            display: block;
        }
    }

    .label {
        color: gray;
        padding-right: 1rem;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pagination {
    .title, ul{
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline-block;


    }
    .label{
        padding: 0 0.3rem;

    }
    .nav{
        cursor: pointer;
    }
    .nav:hover{
        color:white;
    }
}
